<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <header>
        <h1>Loja Online</h1>
        <div>
            <a href="index.html">Inicio</a>
            <a href="index.html">Produtos</a>
            <a href="index.html">Sobre</a>
            <a href="index.html">Contato</a>
        </div>
    </header><br>
    <main><br>
        <table style="text-align: left; width: 50%;">
            <caption style="text-align: left;">
                <h2>Desktop Gaming PRIMUX IOX PB870</h2>
            </caption>
            <tr>
                <th><img src="/Static/Images/400x300_placeholder.png" alt="main_product"></th>
                <td>
                    <h3>Especificacoes</h3>
                    <ul>
                        <li>Processador</li>
                        <ul>
                            <li>CPU: AMD RYZEN 5 4650G</li>
                            <li>Família de Processador: AMD Ryzen 5</li>
                        </ul>
                        <li>Memória e Armazenamento</li>
                        <ul>
                            <li>Memória RAM: 16 GB</li>
                            <li>Armazenamento: 1 TB SSD</li>
                        </ul>
                        <li>Placa Gráfica</li>
                        <ul>
                            <li>Tipo de Placa Gráfica: Partilhada</li>
                        </ul>
                        <li>Sistema Operativo e Software</li>
                        <ul>
                            <li>Software: Windows 11 Home</li>
                        </ul>
                    </ul>
                    <section>
                        <h4>Preco: €559,<sup>99</sup></h4>
                        <form action="index.html">
                            <input type="checkbox" id="garantia" name="garantia">
                            <label for="garantia">3 anos de garantia: €89,<sup>99</sup></label>
                            <input type="checkbox" id="seguro" name="seguro">
                            <label for="seguro">Seguro Mensal €3,<sup>99</sup></label><br>
                            <input type="submit" value="Adicionar ao Carrinho">
                        </form>
                    </section>
                </td>
            </tr>
        </table>
        <section style="width: 40%;">
            <h3>Descricao do Produto</h3>
            <p>O Desktop Gaming PRIMUX IOX PB870 é um computador de alta performance projetado para gamers
                exigentes. Equipado com um processador potente, placa de vídeo dedicada e armazenamento SSD
                de alta velocidade, ele garante uma experiência de jogo fluida e sem interrupções. Seu
                design moderno e compacto conta com um sistema de resfriamento eficiente e iluminação RGB
                personalizável, ideal para quem busca desempenho e estilo. Seja para jogos AAA ou
                multitarefa intensa, o PRIMUX IOX PB870 oferece o poder e a versatilidade que você precisa
                para elevar seu jogo ao próximo nível.</p>
        </section><br>
        <section style="width: 40%;"><br>
            <h3>Avaliacoes</h3>
            <ul>
                <li>
                    <h4>Lucas M. - ⭐⭐⭐⭐⭐</h4>
                </li>
                <ul>
                    <li><i>“Estou impressionado com o desempenho do PRIMUX IOX PB870! Comprei principalmente para jogar
                            e
                            rodar programas de edição, e ele superou todas as minhas expectativas. Os jogos mais
                            recentes
                            rodam em qualidade alta sem nenhum problema, e o SSD garante uma inicialização super rápida.
                            Além disso, o design é elegante, e a iluminação RGB dá um toque especial ao setup. Recomendo
                            muito para quem procura um PC gamer custo-benefício!”</i></li>
                </ul>
                <li>
                    <h4>Ana C. - ⭐⭐⭐⭐</h4>
                </li>
                <ul>
                    <li><i>“Ótimo computador para quem quer uma máquina potente, mas sem gastar uma fortuna. A
                            instalação
                            foi tranquila e, logo de cara, já consegui jogar títulos como Cyberpunk 2077 e Call of Duty
                            sem
                            travamentos. O único ponto negativo foi o ventilador, que faz um pouco mais de barulho do
                            que eu
                            esperava quando o uso é intenso. Fora isso, o desempenho é excelente, e o suporte técnico
                            foi
                            muito atencioso nas dúvidas que tive. Vale a pena!”</i></li>
                </ul>
            </ul>
        </section><br>
        <section><br>
            <h3>Produtos Relacionados</h3>
            <a href="index.html"><img src="/Static/Images/100x100_placeholder.png" alt="related_product">Monitor LG
                27GQ50F-B</a><br><br>
            <a href="index.html"><img src="/Static/Images/100x100_placeholder.png" alt="related_product">Rato Gaming RAZER Deathadder
                Ed 2021</a><br><br>
            <a href="index.html"><img src="/Static/Images/100x100_placeholder.png" alt="related_product">Auscultadores Gaming com Fio
                RAZER Kraken X Lite</a>
        </section><br>
    </main><br>
    <footer><br>
        <p>© 2024 Loja Online, Todos os direitos reservados</p>
        <ul>
            <li><a href="index.html">Politica de Privacidade</a></li>
            <li><a href="index.html">Termos de Uso</a></li>
            <li><a href="index.html">Contato</a></li>
        </ul>
    </footer>
</body>

</html>